@layer utilities {
  .invisible-scroll {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
  }
  .invisible-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
